<div>
  <div class="d-flex justify-content-center" *ngIf="show; else showRest">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ng-template #showRest>
    <app-form-about
      *ngIf="isLogged && addForm"
      [handlerCancel]="handlerForm"
      [personId]="personId"
      [exitsAbout]="exitsAbout"
    ></app-form-about>

    <p *ngIf="!addForm" style="white-space: pre-line">
      {{ about.descripcion }}

      <span
        *ngIf="!addForm && isLogged && personId !== 0 && !exitsAbout"
        (click)="handlerForm()"
      >
        <i class="fa-solid fa-circle-plus"></i>
      </span>
    </p>

    <div class="text-start mb-4" *ngIf="isLogged && !addForm && exitsAbout">
      <span (click)="handlerForm()">
        <i class="fa-solid fa-pen-to-square ms-1"></i>
      </span>
    </div>
  </ng-template>
</div>
